*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  background-color: rgb(77, 71, 49);
  color: white;
}

.container{
  width: 550px;
  height: 400px;
  margin: auto;
  text-align: center;
}

.container h1{
  margin: 35px;
}

.container input{
  width: 90%;
  border: none;
  outline: 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 5px 5px black;
}

.container input:hover{
  background-color: white;
}

.container input:active{
  scale: 1.02;
}

.container ul{
  list-style: none;
  margin-top: 25px;
  font-size: 18px;
}

.container ul li{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;  
  margin: 15px;
  border-bottom: 1px solid white;
}

.container ul li:last-child{
  border: none;
}

.container ul li i{
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
}

.container ul li i:hover{
  color: white;
  scale: 1.1;
}

.template{
  display: none;
}